<a ui-sref="home">Home</a> /
<a ui-sref="categories">Categories</a> /
<span>Items</span>
<h3>Here are the menu items for category: <span>{{itemlist.categoryName}}</span></h3>

<!-- <ul>
  <li ng-repeat="item in itemlist.items.menu_items">
    {{ item.name }} | {{ item.description }}
  </li>
</ul> -->

<table id="menu-grid">
  <tr>
    <th>Short Name</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price(small)</th>
    <th>Portion</th>
    <th>Price (large)</th>
    <th>Portion</th>
  </tr>
  <tr ng-repeat="item in itemlist.items">
    <td>{{item.short_name}}</td>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.price_small}}</td>
    <td>{{item.small_portion_name}}</td>
    <td>{{item.price_large}}</td>
    <td>{{item.large_portion_name}}</td>
  </tr>
</table>
